<div class="fixed-bottom">
<footer>
  <div class="container text-center">
    <small>Rails Version: <%= Rails::VERSION::STRING %> &nbsp Ruby Version: <%=RUBY_VERSION %></span</small>
  </div>
</footer>
</div>

