<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="#">History of The Universe</a>
  <form class="form-inline">
    <button
      class="btn btn-success navbar-btn btn-sm"
      data-toggle="modal"
      data-target="#new-question-modal"
      type="button">
      Ask Question
    </button>
  </form>
</nav>
